@model EstateMVC.Models.DetailedListing
@{
    ViewBag.Title = "Dane nieruchomości";
}

<h2>Dane nieruchomości</h2>


<div id="content">
    <div style='float:left;'>
        <img src="@Url.Content(Model.imagePath)" height=100 width=161 />
    </div>
    <div style='float:left;margin-left:20px'>
        <div style='float:left;'>
            Numer identyfikacyjny: @Model.listing.HLCN
        </div>
        <br /><br />
        <div style='clear:both;'>
            Cena: @Convert.ToInt32(Model.listing.HousePrice) zł
        </div>
        <br />

        <div>
            Dzielnica: @Model.listing.HomeLocation
        </div>
        <br />

        <div>
            Adres: @Model.listing.Address
        </div>
        <br />

        <div>
            Typ obiektu: @Model.listing.TypeOfProperty
        </div>
    </div>

    <div style="float:left;margin-left:30px">
        <br /><br />
        <div style='clear:both;'>
            Ilość sypialni: @Model.listing.BedroomAmount
        </div>
        <br />

        <div>
            Ilość łazienek: @Model.listing.BathroomAmount
        </div>
        <br />

        <div>
            Ilość pokoi: @Model.listing.RoomAmount
        </div>
        <br />
        <div>
            Miejsc w garażu: @Model.listing.GarageSlots
        </div>

    </div>

    <div style="float:left;margin-left:50px">
        <br /> <br />
        <div style='clear:both;'>
            Rok budowy: @Model.listing.YearBuilt
        </div>
        <div>
            <br />
            Powierzchnia domu: @Model.listing.HomeSurfaceArea
        </div>

        <div>
            <br />
            Powierzchnia działki: @Model.listing.ParcelSurfaceArea
        </div>

        <div>
            <br />
            Wymiary działki: @Model.listing.ParcelSize
        </div>
    </div>

    <div style="clear:both;">
        <br /><br />
        <asp:Label runat="server" ID="notes"></asp:Label>
    </div>
    <br />
    <br />

    <div style="float:left">
        Wystawione przez: @Model.listing.ContactName
    </div>

    <div style="float:left;margin-left:50px">
        Numer telefonu: @Model.listing.PhoneContact
    </div>

    <div style="float:left;margin-left:50px">
        E-mail: @Model.listing.EmailContact
    </div>
    <br /><br />
    Opis nieruchomości
    <br /><br />
    <div style="clear:both;margin-left:50px">
        @Model.listing.Notes
    </div>

</div>

