@model EstateMVC.Models.DetailedListing
@{
    ViewBag.Title = "Dane nieruchomości";
}

<h2>Dane nieruchomości</h2>


<div id="content">
    <div style='float:left;'>
        <img src="@Url.Content(Model.imagePath)" height=100 width=161 />
    </div>
    <div style='float:left;margin-left:20px'>
        <div style='float:left;'>
            <b>Numer identyfikacyjny</b>: @Model.listing.HLCN
        </div>
        <br /><br />
        <div style='clear:both;'>
            <b>Cena</b>: @Convert.ToInt32(Model.listing.HousePrice) zł
        </div>
        <br />

        <div>
            <b>Dzielnica</b>: @Model.listing.HomeLocation
        </div>
        <br />

        <div>
            <b>Adres</b>: @Model.listing.Address
        </div>
        <br />

        <div>
            <b>Typ obiektu</b>: @Model.listing.TypeOfProperty
        </div>
    </div>

    <div style="float:left;margin-left:30px">
        <br /><br />
        <div style='clear:both;'>
            <b>Ilość sypialni</b>: @Model.listing.BedroomAmount
        </div>
        <br />

        <div>
            <b>Ilość łazienek</b>: @Model.listing.BathroomAmount
        </div>
        <br />

        <div>
            <b>Ilość pokoi</b>: @Model.listing.RoomAmount
        </div>
        <br />
        <div>
            <b>Miejsc w garażu</b>: @Model.listing.GarageSlots
        </div>

    </div>

    <div style="float:left;margin-left:50px">
        <br /> <br />
        <div style='clear:both;'>
            <b>Rok budowy</b>: @Model.listing.YearBuilt
        </div>
        <div>
            <br />
            <b>Powierzchnia domu</b>: @Model.listing.HomeSurfaceArea
        </div>

        <div>
            <br />
            <b>Powierzchnia działki</b>: @Model.listing.ParcelSurfaceArea
        </div>

        <div>
            <br />
            <b>Wymiary działki</b>: @Model.listing.ParcelSize
        </div>
    </div>

    <div style="clear:both;">
        <br /><br />
        <asp:Label runat="server" ID="notes"></asp:Label>
    </div>
    <br />
    <br />

    <div style="float:left">
        <b>Wystawione przez</b>: @Model.listing.ContactName
    </div>

    <div style="float:left;margin-left:50px">
        <b>Numer telefonu</b>: @Model.listing.PhoneContact
    </div>

    <div style="float:left;margin-left:50px">
        <b>E-mail</b>: @Model.listing.EmailContact
    </div>
    <br /><br />
    <b>Opis nieruchomości</b>
    <br /><br />
    <div style="clear:both;margin-left:50px">
        @Model.listing.Notes
    </div>

</div>

