@model EstateMVC.Models.Users
@{
    ViewBag.Title = "Home Page";
}

<h2>Logowanie</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <fieldset>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(User => User.UserName, "Nazwa użytkownika")</td>
                <td>@Html.TextBoxFor(User => User.UserName)</td>
                <td>@Html.ValidationMessageFor(User => User.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(User => User.Password, "Hasło")</td>
                <td>@Html.PasswordFor(User => User.Password)</td>
                <td>@Html.ValidationMessageFor(User => User.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}