@model EstateMVC.Models.EstateSearching
@{
    ViewBag.Title = "SearchEstate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .prelabel{
        min-width: 150px;
    }

</style>

<h2>Wyszukaj nieruchomość</h2>


<br /><br />
@using (Html.BeginForm("SearchEstate", "Search", FormMethod.Post))
{
    <div>
        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(m => m.MaxPrice)
        <label for="MinPrice" class="prelabel">Cena minimalna:</label>

        @Html.DropDownListFor(m => m.MinPrice, new List<SelectListItem>
                   { new SelectListItem{Text="Nie ustalona", Value="0"},
                     new SelectListItem{Text="100000", Value="100000"},
                     new SelectListItem{Text="150000", Value="150000"},
                     new SelectListItem{Text="200000", Value="200000"},
                     new SelectListItem{Text="250000", Value="250000"},
                     new SelectListItem{Text="500000", Value="500000"}
                    })
    </div>
    <br />
    <div>
        <label for="MaxPrice" class="prelabel">Cena maksymalna:</label>
        @Html.DropDownListFor(m => m.MaxPrice, new List<SelectListItem>
                   { 
                     new SelectListItem{Text="100000", Value="100000"},
                     new SelectListItem{Text="150000", Value="150000"},
                     new SelectListItem{Text="200000", Value="200000"},
                     new SelectListItem{Text="250000", Value="250000"},
                     new SelectListItem{Text="500000", Value="500000"},
                     new SelectListItem{Text="1000000", Value="1000000"},
                     new SelectListItem{Text="Nie ustalona", Value="99999999"}
                    })
    </div>
    <br />
    <div>
        <label for="RoomAmount" class="prelabel">Ilość pokoi:</label>
        @Html.DropDownListFor(m => m.RoomAmount, new List<SelectListItem>
                   {
                     new SelectListItem{Text="Dowolna", Value="none"},
                     new SelectListItem{Text="1", Value="1"},
                     new SelectListItem{Text="2", Value="2"},
                     new SelectListItem{Text="3", Value="3"},
                     new SelectListItem{Text="4", Value="4"},
                     new SelectListItem{Text="4+", Value="4+"},
                    })
    </div>
     <br />
    <div>
        <label for="BedroomAmount" class="prelabel">Ilość sypialni:</label>
        @Html.DropDownListFor(m => m.BedroomAmount, new List<SelectListItem>
                   {
                     new SelectListItem{Text="Dowolna", Value="none"},
                     new SelectListItem{Text="1", Value="1"},
                     new SelectListItem{Text="2", Value="2"},
                     new SelectListItem{Text="3", Value="3"},
                     new SelectListItem{Text="4", Value="4"},
                     new SelectListItem{Text="4+", Value="4+"},
                    })
    </div>
    <br />
    <div>
        <label for="BathroomAmount" class="prelabel">Ilość łazienek:</label>
        @Html.DropDownListFor(m => m.BathroomAmount, new List<SelectListItem>
                   {
                     new SelectListItem{Text="Dowolna", Value="none"},
                     new SelectListItem{Text="1", Value="1"},
                     new SelectListItem{Text="2", Value="2"},
                     new SelectListItem{Text="3", Value="3"},
                     new SelectListItem{Text="4", Value="4"},
                     new SelectListItem{Text="4+", Value="4+"},
                    })
    </div>

    <br /><br />
    <input type="submit" value="Szukaj" />
}